body{
  background: white;
  margin: 10px;
}
h1{
    color: blue;
  }

button{
height: 45px;
width:100%;
padding: 13px;
border-radius:8px;
background: blue;
color: white;
border: none;
margin: 10px;
cursor: pointer;
font-size: 16px;
}

.line{
 display:flex;
 align-items:center;
 margin:18px 0;
}

.line span{
 flex:1;
 height:1px;
 background: grey;
}

.or{
 margin:0 18px;
 color: grey;
 font-size:13px;
 }
 
 
input{
        width:90%;
        height: 10px;
        padding:15px;
        margin:10px ;
        border-radius:8px;
        border:1px solid none;
      
        font-size:14px;
        background: white;
    }


.create-btn {
  width: 70%;
  padding: 13px;
  background: #42b72a;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  display: block;
  margin: 8px auto;
}

.footer{
        margin-top:90px;
        font-size:13px;
        text-align: center;
    }
